$purple-0: #9b51e0;
$purple-1: #eac6ff;
$purple-2: #f9ecff;
$purple-3: #933ae6;
$purple-4: #c7c0cc;
$purple-5: #f0ebf5;
$purple-6: #b566ff;
$purple-7: #d4a0ff;
$purple-8: #dab3ff;
$white: #fff;
$grey: #5d5a77;
$alt-grey: #444258;
$black: #333333;
