@import '@/styles/colors.scss';

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $purple-0;
}
p {
  margin: 0;
}
h2 {
  margin: 0;
}
h1 {
  margin: 0;
}
.btn {
  cursor: pointer;
  padding: 16px 24px;
  background: $purple-0;
  border: none;
  border-radius: 24px;
  color: $white;
  font-size: 16px;
}
