@import '@/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Catamaran:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
body {
  font-family: 'Roboto';
}
a {
  text-decoration: none;
  color: $purple-0;
}

.el-button:focus,
.el-button:hover {
  color: $white;
  border-color: $purple-1;
  background-color: $purple-2;
}
.el-button:active {
  color: $white;
  border-color: $purple-3;
}
.el-button.is-plain:focus,
.el-button.is-plain:hover {
  border-color: $purple-0;
  color: $white;
}
.el-button.is-active,
.el-button.is-plain:active {
  color: $white;
  border-color: $purple-3;
}
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  color: $white;
  border-color: $purple-5;
}
.el-button.is-disabled.is-plain,
.el-button.is-disabled.is-plain:focus,
.el-button.is-disabled.is-plain:hover {
  border-color: $purple-5;
  color: $white;
}
.el-button--primary {
  font-weight: bold;
  width: 100%;
  min-height: 60px;
  background-color: $purple-0;
  border-color: $purple-0;
}
.el-button--primary:focus,
.el-button--primary:hover {
  background: $purple-6;
  border-color: $purple-6;
}
.el-button--primary.is-active,
.el-button--primary:active {
  background: $purple-3;
  border-color: $purple-3;
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
  background-color: $purple-7;
  border-color: $purple-7;
}
.el-button--primary.is-plain {
  color: $white;
  background: $purple-2;
  border-color: $purple-8;
}
.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
  background: $purple-0;
  border-color: $purple-0;
}
.el-button--primary.is-plain:active {
  background: $purple-3;
  border-color: $purple-3;
}